

# dependencies
/node_modules

# Python
__pycache__/
*.pyc

# Flask
instance/
.env
.flaskenv

# React
/build

# Editor-specific settings
.vscode/
.idea/

venv/

#exclude knowledge bases
backend/knowledge/
