/* Assistant.css */
.assistant-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}
  
.assistant-avatar {
    cursor: pointer;
    position: relative;
    width: 70px;
    height: 70px;
}
  
.assistant-avatar img {
    width: 100%;
    height: 100%;
}

.loading-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    right: 80px;
    bottom: 10px;
}

.loading-text {
    color: #031926;
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
}

.assistant-chat {
    background-color: #f4e9cd;
    border: 1px solid #77aca2;
    border-radius: 8px;
    position: absolute;
    bottom: 75px;
    padding-bottom: 35px;
    right: 0;
    width: 400px;
    max-height: 400px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.assistant-chat.textarea-focused {
    padding-bottom: 95px;
}

.help-text {
    position: absolute;
    left: -130%;
    bottom: 70%;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-image: url('../images/speechbubble.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-text span {
    font-size: 0.8em;
    text-align: center;
    transform: translateY(-30%);
}

.top-bar {
    background-color: #9DBEBB;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.close-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.6em;
    color: #031926;
    margin-right: 10px;
}
  
.message {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    display: block;
    flex-direction: column;
    word-break: break-word;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    max-width: 75%;
}
  
.message.user {
    background-color: #77aca2;
    color: white;
    align-self: flex-end;
}
  
.message.assistant {
    background-color: #468189;
    color: white;
    align-self: flex-start;
}

.chat-history {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.chat-input {
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 98%;
    background-color: #f4e9cd;
    border-top: 1px solid #77aca2;
    padding: 5px;
    align-items: stretch;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1001;
}

.chat-input textarea {
    flex-grow: 1;
    resize: none;
    overflow-y: auto;
    height: 20px;
    line-height: 20px;
    max-height: 80px;
    border: 1px solid #468189;
    border-radius: 4px;
    padding: 5px;
    margin-right: 5px;
    font-family: Montserrat;
    font-size: 15px;
}

.send-button {
    background-color: #468189;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0 10px;
    cursor: pointer;
    align-self: stretch;
    box-sizing: border-box;
    position: relative;
    font-family: Montserrat;
    z-index: 1002;
}

.chat-input button.textarea-focused {
    margin-top: 60px;
}

.chat-input textarea:focus {
    height: auto;
}