/* Overlay for Modal */
.ReactModal__Overlay {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MODAL STYLES */
.modal {
    background-color: #9DBEBB;
    color: #031926;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    /* Centering modal content */
    display: flex;
    flex-direction: column;
    margin: auto;
}

.modal h2 {
    color: #031926;
    text-align: center;
}

/* Input Fields Styles */
.modal input[type="text"],
.modal input[type="email"],
.modal input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #77ACA2;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Montserrat;
}

/* Button Styles */
.modal button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #468189;
    color: #F4E9CD;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-size: 15px;
    font-family: Montserrat;
}

.modal button:hover {
    background-color: #77ACA2;
}

/* Message Style */
.modal p {
    color: #031926;
    text-align: center;
}


