/*** HEADER STYLES ***/

.header {
  width: 100vw;
  background-color: #031926;
  color: white;
  position: fixed;
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 10000;
}

.header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 50px;
}

.button-group {
  display: flex;
  align-items: center; /* Align items vertically center */
  justify-content: flex-end; /* Align items to the right */
}

.user-display {
  padding-right: 10px;
}

.header-button {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}
  
.header-logo {
  height: 55px;
  margin-right: 20px;
}