/* Overlay for Modal */
.ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* SETTINGS STYLES */

.settings-modal {
  background-color: #2D5262;
  color: #F4E9CD;
  border-radius: 8px;
  padding: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.settings-modal h2 {
  color: #F4E9CD;
  text-align: center;
}

.settings-modal button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #2FB1A2;
  color: #F4E9CD;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-size: 15px;
  font-family: Montserrat;
}

.settings-modal button:hover {
  background-color: #3fcdb3;
}

/* Language Selector Styles */
.settings-modal select {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #2FB1A2;
  border-radius: 4px;
  background-color: #1A2F38;
  color: #F4E9CD;
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23031926" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>'); /* arrow icon */
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  font-family: Montserrat;
  font-size: 15px;
}

.settings-modal select:hover {
  border-color: #77ACA2;
}

.settings-modal option {
  color: #F4E9CD;
  background-color: #1A2F38;
  padding: 8px;
}

.settings-modal img {
  cursor: pointer;
  height: 50px;
  scale: 130%;
  padding: 15px;
  margin: 10px;
  transition: transform 0.3s ease;
}

.settings-modal img:hover {
  transform: scale(1.1);
}

.settings-modal img.clicked {
  transform: scale(1.5);
  transition: transform 0.15s ease;
}