/* Overlay for Modal */
.ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* SETTINGS STYLES */

.settingsModal {
  background-color: #9DBEBB;
  color: #031926;
  border-radius: 8px;
  padding: 20px;
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.settingsModal h2 {
  color: #031926;
  text-align: center;
}

.settingsModal button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #468189;
  color: #F4E9CD;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-size: 15px;
  font-family: Montserrat;
}

.settingsModal button:hover {
  background-color: #77ACA2;
}

/* Language Selector Styles */
.settingsModal select {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #468189;
  border-radius: 4px;
  background-color: white;
  color: #031926;
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23031926" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>'); /* arrow icon */
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  font-family: Montserrat;
  font-size: 15px;
}

.settingsModal select:hover {
  border-color: #77ACA2;
}

.settingsModal option {
  color: #031926;
  background-color: white;
  padding: 8px;
}

.settingsModal img {
  cursor: pointer;
  height: 50px;
  scale: 130%;
  padding: 15px;
  margin: 10px;
  transition: transform 0.3s ease;
}

.settingsModal img:hover {
  transform: scale(1.1);
}

.settingsModal img.clicked {
  transform: scale(1.5);
  transition: transform 0.15s ease;
}