/*** SIDEBAR STYLES ***/

.sidebar {
  width: 80px; /* Fixed width */
  height: calc(100vh);
  background-color: #1A2F38;
  color: white;
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
  