/* CURRICULUM COMPONENT STYLES */

.curriculum-container {
  color: #fff; /* Change text color to white */
  padding-top: 100px;
  margin: 0 auto; /* Find better way to center container */
  max-width: 70vw;
  text-align: center;
}

.curriculum-title {
  color: #fff; /* Keep the Curriculum title color */
  font-weight: bold;
}

.overview-box {
  background-color: #1A2F38;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px; /* Increased space between overview and course boxes */
}

.stats {
  background-color: #77ACA2;
  padding: 10px;
  border-radius: 5px;
  color: #fff; /* White text for stats */
}

.course-list {
  display: flex;
  flex-direction: column;
}